body{
    background-image: url("COMP.JPG");
    text-align: center;
}
h1{
    padding-BOTTOM: 25PX;
    padding-LEFT: 5PX;
    padding-TOP: 100PX;
    padding-RIGHT: 5PX;
    color: #ffa500;
}
H3{
    PADDING: 0PX 350PX;
    COLOR: #a0a0a0;
}
.color{
    COLOR: #CC9900 ;
}
.COLO{
    COLOR: BLACK;

}